body {
    background: linear-gradient(90deg, #f3ebe6, #e8dff3);
    font-family: 'Segoe UI', sans-serif;
}

/* HERO SECTION */
.hero-section {
    margin: 60px auto;
    width: 85%;
    background: #eee7ea;
    padding: 60px;
    border-radius: 25px;
}

    .hero-section h1 {
        font-weight: 700;
        font-size: 42px;
    }

    .hero-section p {
        color: #666;
        margin-top: 15px;
        font-size: 18px;
    }

.shop-btn {
    background-color: #e91e63;
    border: none;
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    margin-top: 25px;
}

/* FILTER BOX */
.filter-box {
    background: #f5efef;
    padding: 25px;
    border-radius: 20px;
}

/* PRODUCT CARD */
.product-card {
    border-radius: 20px;
    background: white;
    padding: 15px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.05);
}

    .product-card img {
        width: 100%;
        border-radius: 15px;
    }

.product-title {
    font-weight: 600;
    margin-top: 10px;
}
